.cardContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
}
@media (max-width: 1324px){
.cardContainer {
    justify-content: center !important;
}
}
@media (max-width: 640px){
.cardContainer {
    display: flex;
    flex-wrap: wrap ;
    text-align: left ;
}
}
.team-image {
    width: 200px;
    height: 200px;
}
@media (max-width: 640px){
.team-image {
    height: auto!important;
    width: 150px!important;
    min-height: 150px;
    align-self: start;
}
}
.card-contents {
    border: 0;
    margin: 2em 2em;
    max-width: 250px;
    color: #001d74;
}
@media (max-width: 640px){
.card-contents {
    margin: 25px auto;
    max-width: 350px;
}
}
.image-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 640px){
.image-wrapper {
    flex-direction: row !important;
}
}

.image-content {
    vertical-align: sub;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #eee;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    width: auto;
    height: auto;
    transition: opacity .2s,visibility .2s;
}
@media (max-width: 640px){
.image-content {
    height: auto!important;
    width: auto!important;
    align-self: start;
    left: 0;
    border-radius: 2px;
}
}

@media (max-width: 640px){
.profile-content {
    margin-left: 1em;
    margin-top: 0 !important;
}
}
.team-desc {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    font-size: 12px;
}


.profile-content header{
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 768px){
    .navbar-brand {
        font-size: 24px !important;
    }
    }